body {
  padding: 0;
  margin: 0;
}
.question,
nav,
p,
a,
.question {
  padding: 20px;
  margin: 0;
}

.flash {
  background-color: rgb(251, 185, 178);
}
nav {
  background-color: rgb(193, 242, 242);
}

button {
  margin: 0 20px 0;
}
